<div class="card text-center mx-auto">
  <div class="card-body">
    <h1 class="card-title mb-3">Users</h1>
    <% @users.each do |user| %>
      <%= user.name %>
      <%= link_to 'Show', user, class: "link text-secondary" %>
      <br class="mb-2">
    <% end %>
    <%= link_to 'Back', welcome_path, class: "link" %>
  </div>
</div>


