<h1>Events</h1>
<h2>Past Events</h2>
<ul>
  <% @before.each do |event| %>
    <li>
      <%= event.title %>
      <td><%= link_to 'Show', event %></td>
    </li>
  <% end %>
</ul>
<h2>Future Events</h2>
<ul>
  <% @after.each do |event| %>
    <li>
      <%= event.title %>
      <td><%= link_to 'Show', event %></td>
    </li>
  <% end %>
</ul>

